@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;
@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject UserService User

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <button @onclick='() => Navigation.NavigateToLogin("authentication/login")'>Login</button>
        <button @onclick='() => Navigation.NavigateToLogout("authentication/logout")'>Logout</button>
        <div>Roles: @Roles</div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string Roles { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        User.OnAuthChange += StateChanged;
        await StateChanged(await User.GetUser());
    }

    private async Task StateChanged(User user)
    {
        Roles = string.Join(';', user.Roles);
        StateHasChanged();
    }
}
